/* Home Page */

h3 {
    display: flex;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    background-color: blanchedalmond;
    padding: 5px;
    justify-content: center;
}

.contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.myBooks {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 25%;
    border-style: solid;
    border-color: rgb(210, 166, 113);
    border-width: 2px;
    padding: 8px;
    margin: 10px;
}

.movieRecs {
    width: 85%;
    border-style: solid;
    border-color: rgb(210, 166, 113);
    border-width: 2px;
    padding: 8px;
    margin: 10px;
}

/* Profile Page */

#profile {
    display: inline-block;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    background-color: blanchedalmond;
    padding: 5px;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
}

#profileAvatar {
    width: 100%;
    justify-content: center;
}

.bioPara {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#userContent {
    margin: 15px;
}

.card {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.profileH3 {
    display: flex;
    justify-content: left;
    padding: 15px;

}