/* Home Page */

h3 {
    display: flex;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    background-color: blanchedalmond;
    padding: 5px;
    justify-content: center;
}

.contentContainer {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* .searchContentContainer {
    display: flex;
    justify-items: center;
    align-items: center;

    border-style: solid;
    border-color: rgb(210, 166, 113);
    border-width: 2px;
    padding: 8px;
    margin: 10px;
} */

#bookSearchDiv {
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-color: rgb(210, 166, 113);
    border-width: 2px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.card-item {
    display: flex;
    justify-content: space-between;
}

.movieRecs {
    width: 100%;
    border-style: solid;
    border-color: rgb(210, 166, 113);
    border-width: 2px;
    padding: 8px;
    margin: 10px;
}

/* Profile Page */

h2 {
    display: flex;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    padding: 5px;
    margin-top: 15px;
    justify-content: center;
}

#profile {
    display: inline-block;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    background-color: blanchedalmond;
    padding: 5px;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
}

#profileAvatar {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.bioPara {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#userContent {
    margin: 15px;
}

.card {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.profileH3 {
    display: flex;
    justify-content: left;
    padding: 15px;

}


p {
    font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(87, 54, 10);
    padding: 15px;
}