html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;  /* Prevent horizontal overflow */

}

p {
    font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(87, 54, 10);
    padding: 15px;
}

.navbar {
    display: inline-block;
    width: 100%;
}

.menu {
    width: 100%;
}

.menu .btn {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px;
}

.menu .btn #logoutbtn {
    width: 200px;
    justify-content: end;
    align-items: center;
    padding: 5px;
}

/* Home Page */

h3 {
    display: flex;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    background-color: blanchedalmond;
    padding: 5px;
    justify-content: center;
}

.contentContainer {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: inline-block;
}

#bookSearchDiv {
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-color: rgb(210, 166, 113);
    border-width: 2px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.card-item {
    display: flex;
    justify-content: space-between;
}

.homeBookTitle {
    font-family: 'Bebas Neue', Times, serif;
    font-size: 30px;
    /* text-decoration: underline; */
    color: rgb(87, 54, 10);
    background-color: blanchedalmond;
    padding: 15px;
    margin-bottom: 0;
}

.movieRecs {
    width: 100%;
    border-style: solid;
    border-color: rgb(210, 166, 113);
    border-width: 2px;
    padding: 8px;
    margin: 10px;
}

#movieCard {
    width: 325px;
    padding: 5px;
    margin: 10px;
}

.homeMovieCardBody {
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

.homeMovieCardTitle {
    /* align-items: center; */
    margin-top: 0;
    padding: 0;
}

.movieButton {
    width: 80%;
    padding: 0;
    margin: 0;
}

.movieCardActions {
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Profile Page */

h2 {
    display: flex;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    padding: 5px;
    margin-top: 15px;
    justify-content: center;
}

#profile {
    display: inline-block;
    width: 100%;
    font: 40px 'Bebas Neue', Times, serif;
    color: rgb(87, 54, 10);
    background-color: blanchedalmond;
    padding: 5px;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
}

#profileAvatar {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.usernameP {
    font-family: 'Bebas Neue', Times, serif;
    font-size: 28px;
    color: rgb(87, 54, 10);
    background-color: bisque;
    padding: 15px;
    margin-top: 0;
}

.bioPara {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* background-color: bisque; */
}

#userContent {
    margin: 15px;
}

.card {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.profileH3 {
    display: flex;
    justify-content: left;
    padding: 15px;

}

#profileBookCardTitle {
    font-family: 'Bebas Neue', Times, serif;
    font-size: 28px;
    color: rgb(87, 54, 10);
    padding: 15px;
    margin-bottom: 0;
}

#profileBookCardBody {
    font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
    color: rgb(87, 54, 10);
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* Recommendations */

.quizBox {
    margin: 20px;
}