.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive grid */
    gap: 2rem; /* Space between cards */
    padding: 1rem;
  }
  
  .card-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card-item img {
    margin-left: 15px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 190%;
    font-weight: bold;
    color: rgb(87, 54, 10);
  }


#BookCard .card-body p {
  font-size: 15px;
  color: rgb(87, 54, 10);
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 5px;
  margin-top: 10px;
  font-style: italic;
}
  
#BookCard {

}